body {
  /* background-color: #1b3530; */
  /* background-color: #052959; /* AZUL*/
  margin: 0;
  color: white;
}

#logo_mini {
  width: 35px;
  bottom: 5%;
  left: 50%;
  place-content: center;
  display: grid;
  position: absolute;
}

.div_bienvenido {
  color: white;
  width: calc(100vw - (100vw - 100%));
  height: calc(100vw - (100vw - 100%));
  position: absolute;
}

.div_bienvenido_texto {
  height: 70%;
  width: 100%;
  display: grid;
  place-content: center;
}

.div_bienvenido_texto:hover{
  cursor: pointer;
}

.span1 {
  text-align: center;
  font-size: px;
}

.span:hover {
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.span2 {
  font-size: 40px;
  text-decoration: underline;
}

.mostrar {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  overflow: hidden;
}

.ocultar {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.anchoPDF {
  width: 120%;
}
